# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.ParcelSolution.iml
/contentModel.xml
/modules.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\rober\Documents\Proge\ParcelSolution\.idea\.idea.ParcelSolution\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
